/*==================
    recruitment Area 
==================*/
.recruitment {
    position: relative;
    @extend %transition;
    min-height: 600px;
    width: 100%;
    padding-top: 35%;
    
    @media #{$laptop-device} {
        min-height: 500px;
    }
    @media #{$lg-layout} {
        min-height: 500px;
    }
    @media #{$md-layout} {
        min-height: 450px;
    }
    @media #{$sm-layout} {
        min-height: 400px;
    }
    .thumbnail-inner{
        transition: transform .28s ease;
        z-index: 9;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        border-radius: 5px;
        cursor: pointer;

        &::before{
            background-color: #f6004c0a;
            background-image: linear-gradient(#9ecebc1f 80%, #9ecebc 100%);
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height : 100%;
            z-index: 5;
            opacity: 0;
            @extend %transition;
        }
    }
    .thumbnail{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        border-radius: 5px;
        background-color: #0a0a0a;
        background-image: url(/assets/images/recruitment/recruitment-warlock.jpg);
        transform: scale(1.13) translateZ(0);
        backface-visibility: hidden;
        transition: transform .28s ease;
        z-index: 4;
        &.recruitment-warlock{
            background-image: url(/assets/images/recruitment/recruitment-warlock.jpg);
        }
        &.recruitment-druid{
            background-image: url(/assets/images/recruitment/recruitment-druid.jpg);
        }
        &.recruitment-paladin{
            background-image: url(/assets/images/recruitment/recruitment-paladin.jpg);
        }

        &.recruitment-warrior{
            background-image: url(/assets/images/recruitment/recruitment-warrior.jpg);
        }

        &.recruitment-hunter{
            background-image: url(/assets/images/recruitment/recruitment-hunter.jpg);
        }
        &.recruitment-rogue{
            background-image: url(/assets/images/recruitment/recruitment-rogue.jpg);
        }
        &.recruitment-priest{
            background-image: url(/assets/images/recruitment/recruitment-priest.jpg);
        }
        &.recruitment-shaman{
            background-image: url(/assets/images/recruitment/recruitment-shaman.jpg);
        }
        &.recruitment-mage{
            background-image: url(/assets/images/recruitment/recruitment-mage.jpg);
        }
        &.recruitment-monk{
            background-image: url(/assets/images/recruitment/recruitment-monk.jpg);
        }
        &.recruitment-dk{
            background-image: url(/assets/images/recruitment/recruitment-dk.jpg);
        }
        &.recruitment-dh{
            background-image: url(/assets/images/recruitment/recruitment-dh.jpg);
        }
        &::after{
            background-color: rgba(45,45,45,.35);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            content: ' ';
            z-index: 1;
            display: block;
            border-radius: 5px;
            background-color: rgba(25,25,25,.37);
            @extend %transition;
        }
    }

    .bg-blr-image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-color: #0a0a0a;
        background-image: url(/assets/images/recruitment/recruitment-warrior.jpg);
        @extend %transition;
        transform: translateY(38px);
        opacity: 0;
        z-index: 1;

        &.recruitment-warlock{
            background-image: url(/assets/images/recruitment/recruitment-warlock.jpg);
        }
        &.recruitment-druid{
            background-image: url(/assets/images/recruitment/recruitment-druid.jpg);
        }
        &.recruitment-paladin{
            background-image: url(/assets/images/recruitment/recruitment-paladin.jpg);
        }
        &.recruitment-warrior{
            background-image: url(/assets/images/recruitment/recruitment-warrior.jpg);
        }

        &.recruitment-hunter{
            background-image: url(/assets/images/recruitment/recruitment-hunter.jpg);
        }
        &.recruitment-rogue{
            background-image: url(/assets/images/recruitment/recruitment-rogue.jpg);
        }
        &.recruitment-priest{
            background-image: url(/assets/images/recruitment/recruitment-priest.jpg);
        }
        &.recruitment-shaman{
            background-image: url(/assets/images/recruitment/recruitment-shaman.jpg);
        }
        &.recruitment-mage{
            background-image: url(/assets/images/recruitment/recruitment-mage.jpg);
        }
        &.recruitment-monk{
            background-image: url(/assets/images/recruitment/recruitment-monk.jpg);
        }
        &.recruitment-dk{
            background-image: url(/assets/images/recruitment/recruitment-dk.jpg);
        }
        &.recruitment-dh{
            background-image: url(/assets/images/recruitment/recruitment-dh.jpg);
        }
    }

    .content {
        position: absolute;
        bottom: 40px;
        left: 40px;
        right: 40px;
        max-width: 100%!important;
        z-index: 10;
        padding: 0;
        @media #{$lg-layout} {
            left: 20px;
            right: 20px;
        }
        @media #{$md-layout} {
            left: 20px;
            right: 20px;
        }
        @media #{$sm-layout} {
            left: 20px;
            right: 20px;
        }
        .inner {
            p {
                color: #c6c9d8;
                font-size: 14px;
            }
            h4 {
                font-size: 24px;
                line-height: 36px;
                a{
                    color: #ffffff;
                }
            }
            .recruitment-button{
                @extend %transition;
                margin-top: 35px;
                transition: 0.7s;
                @media #{$large-mobile} {
                    margin-top: 25px;
                }
                a {
                    &.rn-btn{
                        color: #ffffff;
                        border-color: rgba(255,255,255,0.3);
                        &:hover{
                            border-color: $theme-color;
                        }
                    }
                }
            }
        }
    }


    &.text-center {
        .content {
            position: absolute;
            bottom: 40px;
            left: 40px;
            max-width: 80% !important;
            z-index: 10;
            padding: 0;
            right: 40px;
            margin: 0 auto;
            @media #{$lg-layout} {
                left: 20px;
                right: 20px;
            }
            @media #{$md-layout} {
                left: 15px;
                right: 15px;
            }
            @media #{$sm-layout} {
                left: 10px;
                right: 10px;
            }
        }
    }
    &:hover{
        .thumbnail-inner{
            transform: scale(1.08) translateZ(0);
            &::before{
                opacity: 0.85;
            }
        }
        .thumbnail {
            transform: scale(1) translateZ(0);
            &::after{
                background-color: rgba(25,25,25,.24);
            }
        }
        .bg-blr-image{
            opacity: 0;
            z-index: 9;
        }
        
    }
    &.recruitment-style--2{
        .inner{
            margin: 0 20px;
        }
    }
}


.recruitment-sacousel-inner {
    .slick-list{
        margin-left: -200px;
        margin-right: -200px;
        @media #{$md-layout} {
            margin-left: 15px;
            margin-right: 15px;
        } 
        @media #{$lg-layout} {
            margin-left: 15px;
            margin-right: 15px;
        } 
        @media #{$sm-layout} {
            margin-left: 10px;
            margin-right: 10px;
        } 
    }
}



.recruitment-sacousel-inner{
    .slick-slide {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: -10px;

        @media #{$lg-layout} {
            padding-left: 15px;
            padding-right: 15px;
        }

        @media #{$md-layout} {
            padding-left: 15px;
            padding-right: 15px;
        }

        @media #{$sm-layout} {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.recruitment-sacousel-inner {
    .slick-list {
        overflow: visible;
    }
}



.recruitment-sacousel-inner ,
.rn-slick-dot {
    .slick-dots {
        bottom: -60px;
        @media #{$large-mobile} {
            bottom: -50px; 
        }
        li{
            width: 30px;
            margin: 0;
            opacity: .35;
            position: relative;
            
            button{
                &::before{
                    display: none;
                }
                &::after{
                    background: #333;
                    width: 100%;
                    display: block;
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 6px;
                    height: 6px;
                    @extend %transition;
                    border-radius: 50%;
                    margin-left: 11px;
                    background-color: transparent;
                    box-shadow: inset 0 0 0 5px #000;
                }
            }
            &.slick-active{
                opacity: 1;
                button{
                    &::after{
                        -webkit-transform: scale(2);
                        transform: scale(2);
                        box-shadow: inset 0 0 0 1px $theme-color;
                        background-color: transparent;
                        background-color: transparent!important;
                    }
                }
            }
        }
    }
    // Dot Light  
    &.dot-light {
        .slick-dots {
            li{
                button {
                    &::after {
                        background: #ffffff;
                        box-shadow: inset 0 0 0 5px #ffffff;
                    }
                }
                &.slick-active{
                    opacity: 1;
                    button{
                        &::after{
                            -webkit-transform: scale(2);
                            transform: scale(2);
                            box-shadow: inset 0 0 0 1px $theme-color;
                            background-color: transparent;
                            background-color: transparent!important;
                        }
                    }
                }
            }
        }
    }
}

/* Slick Gutter Space  */
.slick-space-gutter--15 {
    margin-left: -15px;
    margin-right: -15px;
    .slick-slide {
        padding-left: 15px;
        padding-right: 15px;
    }
    .recruitment {
        margin: 40px 0;
    }
}

.slickdot--20 {
    .slick-dots { 
        bottom: -20px;
    }
}
